@CHARSET "UTF-8";

@font-face
{
    font-family: Luftsprung;
    src: url('/font/JosefinSans-Regular.ttf');
}

body { 
    background-color: rgba(238, 238, 238, 1);
    font-family: Luftsprung;
}

.navbar {
    border-radius: 0;
}
.navbar-default {
    background-color: #fff;
    border-color: #ccc;
}

.container-fixed {
    margin: 0 auto;
    max-width: 980px;
}

.gallery img {
    width: 100%;
}
ul .dropdown-menu {
    background-color: #f0f0e8;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #f0f0e8;
}

.lightbox {
    border: 1px solid #CCC;
    box-shadow: 0 1px 5px #CCC;
    margin: 0 auto 25px auto;
    overflow: hidden;
    background-color: #fff;
    padding-top: 20px;
}
.lightbox h1 {
    padding-bottom: 40px;
    font-family: Indie Flower;
}

.boxed {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 1px 5px #CCC;
    margin-bottom: 20px;
}
.image {
    text-align: center;
}
.image img {
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: .5s all;
}

.image img:hover {
    -webkit-filter: brightness(20%);
}
.image img:hover + .overlay, .overlay:hover{
    display: block;
}
.overlay {
    left: 0;
    position:absolute;
    top: 40%;
    width: 100%;
    display: none;
    color: #fff;
    font-weight: bold;
    pointer-events: none;
}
#shootings * {
    text-decoration: none !important;
}
#shootings .boxed:hover {
    
    cursor: pointer;
}