@CHARSET "UTF-8";

@font-face
{
    font-family: Luftsprung;
    src: url('/font/JosefinSans-Regular.ttf');
}

body { 
    background-color: rgba(238, 238, 238, 1);
    font-family: Luftsprung;
}

.navbar {
    border-radius: 0;
}
.navbar-default {
    background-color: #fff;
    border-color: #ccc;
}

.container-fixed {
    margin: 0 auto;
    max-width: 980px;
}

.gallery img {
    width: 100%;
}
ul .dropdown-menu {
    background-color: #f0f0e8;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #f0f0e8;
}

.lightbox {
    border: 1px solid #CCC;
    box-shadow: 0 1px 5px #CCC;
    margin: 0 auto 25px auto;
    overflow: hidden;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.lightbox h1 {
    padding-bottom: 40px;
    font-family: Indie Flower;
}

.boxed {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 1px 5px #CCC;
    margin-bottom: 20px;
}
.image {
    text-align: center;
}
.image img {
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: .5s all;
}

.image img:hover {
    -webkit-filter: brightness(20%);
}
.image img:hover + .overlay, .overlay:hover{
    display: block;
}
.overlay {
    left: 0;
    position:absolute;
    top: 40%;
    width: 100%;
    display: none;
    color: #fff;
    font-weight: bold;
    pointer-events: none;
}
#shootings * {
    text-decoration: none !important;
}
#shootings .boxed:hover {
    
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    #galleryModal .modal-dialog {
        width: 80%; /* or whatever you wish */
      }

}
.disabledTab {
    pointer-events: none;
}

.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.product{
  transition: 0.05s ease-in-out;
  
}
.product:hover{
  opacity: 1;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

#dateelement { display: none; }